
.f-img {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 50%;
    left: -250px;
    transform: translateY(-50%);
    z-index: 1005;
    animation: covido 3s linear infinite;
    transition: 3s;
    opacity: 1;
}
.f-img img {
    width: 80px;
}

/*
.f-img::before {
    content: 'اوعى الفيروس يا عم الحاج';
    position: fixed;
    top: -50px;
    left: 100px;
    padding: 5px;
    color: #FFF;
    font-size: 21px;
    border-radius: 5px;
    background-color: red;
    filter: drop-shadow(0 0 0 #000);
    opacity: 0;
    text-align: center;
    transition: .5s;
}
    
.f-img:hover::before {
    opacity: 1;
}
*/

@keyframes covido {
    0% {
        top: 40%;
        transform: rotate(20deg);
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.7));
    }
    50% {
        top: 60%;
        transform: rotate(0deg);
        filter: drop-shadow(0px 15px 3px rgba(0, 0, 0, 0.4));
    }
    75% {
        top: 50%;
        transform: rotate(-10deg);
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.0));
    }
    100% {
        top: 40%;
        transform: rotate(20deg);
        filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.7));
    }
}
.fakeNums {
    color: #f0ecec;
    font-size: 30px;
    font-family: Cairo;
    text-align: center;
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 1s;
}
.table:hover .fakeNums {
    opacity: 1;
}

#c-all {
    opacity: 0;
    transition: 4s;
}
@media (max-width:1250px) {

.main {
display: none;
}

#notSupported {
display: block;
}

.notSupp {
width: 100%;
height: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
.unSupportMsg,
.unSupportImg {
padding: 20px;
}

.unSupportMsg {
text-align: center;
}
.unSupportMsg h2 {
color: #4877ad;
text-shadow: 0 0 10px #86aedc;
font-family: Cairo;
}
.unSupportImg {
width: fit-content;
}
.unSupportImg img {
width: 300px;
}

}